@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.sidebar-item {
  @apply block px-3 py-2 rounded-md hover:bg-[#1b2331] hover:text-white;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
